.article-skeleton {
  display: flex;
  flex-flow: column;
  width: 100%;

  &__categories {
    display: flex;
    gap: 8px;
    margin-top: 4px;
  }

  &__title {
    margin-top: 1.25rem;
  }

  &__paragraphs {
    margin-top: 2.25rem;
  }
}