.btn {
  display: inline-block;
  border: none;
  padding: 0;
  position: relative;

  cursor: pointer;
  touch-action: manipulation;
  user-select: none;

  background: transparent;
  text-align: center;
}

.btn-primary {
  border: 1px solid transparent;
  background-color: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  border: 1px solid transparent;
  background-color: var(--secondary-color);
  color: #fff;
}
