@use "sass:color";
@use "@/app/styles/variables" as vars;
@use "@/app/styles/utils" as u;

.sidebar {
  display: flex;
  flex-flow: column;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));

  background: var(--color-sidebar-bg);

  transition: width 0.3s vars.$ease-2;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__toggle-btn {
    padding: 8px;
    background-color: var(--color-sidebar-toggle-button);
    border-radius: 8px;
  }

  &__content {
    flex: 1 1 0%;
    padding: 10px 0;
  }

  &__footer {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
  }

  &:global(.is-collapsed) {
    width: var(--sidebar-width-collapsed);

    .sidebar {
      &__toggle-btn {
        background-color: var(--color-sidebar-toggle-button-selected);
      }
      
      &__footer {
        flex-flow: column;
      }
    }
  
    .navigation-list {
      align-items: center;
      padding: 0;
    }
    
    .navigation-link {
      justify-content: center;
      width: 50px;
      height: 50px;
      padding: 0;
  
      &__icon {
        width: 24px;
        height: 24px;
        margin-right: 0;
      }
    
      &__text {
        display: none;
      }
    }
  }
}

.navigation {
  &__item {
    & + & {
      margin-top: 6px;
    }
  }
}

.navigation-list {
  display: flex;
  flex-flow: column;
  padding: 0 16px;
}

.navigation-link {
  display: flex;
  align-items: center;

  padding: 12px 20px;

  font-size: u.to-rem(18px);
  font-weight: 500;
  line-height: 100%;
  color: var(--color-sidebar-menu-text);
  text-decoration: none;

  border-radius: 8px;
  
  &:hover {
    color: var(--color-sidebar-menu-text-active);
    background-color: var(--color-sidebar-menu-hover);
  }
  
  &:global(.is-active) {
    color: var(--color-sidebar-menu-text-active);
    background-color: var(--color-sidebar-menu-active);
    box-shadow: vars.shadow(shadow-2, 'black');
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  &__text {
    position: relative;
    top: 1px;
    animation: .6s fade-in;
  }
}
