@use "@/app/styles/variables" as vars;

.sidebar {
  display: flex;
  flex-flow: column;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));

  background: var(--color-sidebar-bg);

  transition: width 0.3s vars.$ease-2;

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &__toggle-btn {
    padding: 8px;
    background-color: var(--color-sidebar-toggle-button);
    border-radius: 8px;
  }

  &__content {
    flex: 1 1 0%;
    padding: 10px 0;
  }

  &__footer {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding-block: 10px;
  }

  &:global(.is-collapsed) {
    width: var(--sidebar-width-collapsed);

    .sidebar {
      &__toggle-btn {
        background-color: var(--color-sidebar-toggle-button-selected);
      }
      
      &__footer {
        flex-flow: column;
      }
    }
  
    .navigation-list {
      align-items: center;
      padding: 0;
    }
  }
}

.navigation-list {
  display: flex;
  flex-flow: column;
  padding: 0 16px;
}