@use '@/app/styles/utils' as u;

.articles-grid {
  display: grid;
  grid: auto / repeat(4, 1fr);
  gap: u.to-rem(20px)
}

.articles-list {
  display: flex;
  flex-flow: column;
  gap: u.to-rem(40px);
  width: 50%;
}