@use "@/app/styles/variables" as vars;
@use "@/app/styles/utils" as u;

.text {
  font-size: u.to-rem(16px);
  font-weight: vars.font-weight(normal);
  color: var(--color-text);

  &--small {
    font-size: u.to-rem(14px);
    line-height: 1.3;
  }

  &--cross-out {
    text-decoration: line-through;
  }

  &--underline {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  &--success {
    color: var(--color-success);
  }

  &--danger {
    color: var(--color-danger);
  }

  &--warning {
    color: var(--color-warning);
  }
}