@use "@/app/styles/variables" as vars;
@use "@/app/styles/utils" as fn;

input:where(
  [type='text'],
  [type='password'],
  [type='email'],
  [type='number'],
  [type='search'],
  [type='tel'],
  [type='url'])
{
  width: 100%;
  color: inherit;
  background-color: transparent;
  border: none;
  outline: none;
}

input[type='password'] {
  font-family: Verdana, sans-serif;
  letter-spacing: 0.125em;
  
  &::placeholder {
    font-family: vars.$font-family-sans-serif;
    letter-spacing: 0;
  }
}

.input {
  display: flex;
  flex-flow: column;
  align-items: start;

  &__label {
    display: inline-flex;
    margin-bottom: 6px;
    font-weight: vars.font-weight(medium);
    color: inherit;
  }
  
  &__field {
    padding: 0 12px;
    background-color: var(--color-input-bg);
    border: 1px solid var(--color-input-border);
    border-radius: 3px;

    &:not(:disabled) {
      &:hover {
        background-color: var(--color-input-bg-hover);
        border-color: var(--color-input-border-hover);
      }
      
      &:focus {
        background-color: var(--color-input-bg-focus);
        border-color: var(--color-input-border-focus);
      }
      
      &:active {
        background-color: var(--color-input-bg-active);
        border-color: var(--color-input-border-active);
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: var(--color-text-disabled);
      background-color: var(--color-input-bg-disabled);
      
      &::placeholder {
        color: inherit;
      }
    }

    
    &--small {
      height: 28px;
      font-size: fn.to-rem(14px);
    }

    &--medium {
      height: 36px;
    }

    &--large {
      height: 44px;
    }
  }

  &__error {
    padding-top: 10px;
  }
  
  &--danger {
    .input__field {
      background-color: var(--color-input-danger-bg);
      border-color: var(--color-input-danger-border);

      &:hover {
        background-color: var(--color-input-danger-bg-hover);
        border-color: var(--color-input-danger-border-hover);
      }
      
      &:focus {
        background-color: var(--color-input-danger-bg-focus);
        border-color: var(--color-input-danger-border-focus);
      }
      
      &:active {
        background-color: var(--color-input-danger-bg-active);
        border-color: var(--color-input-danger-border-active);
      }
    }
  }

  &--warning {
    .input__field {
      background-color: var(--color-input-warning-bg);
      border-color: var(--color-input-warning-border);

      &:hover {
        background-color: var(--color-input-warning-bg-hover);
        border-color: var(--color-input-warning-border-hover);
      }
      
      &:focus {
        background-color: var(--color-input-warning-bg-focus);
        border-color: var(--color-input-warning-border-focus);
      }
      
      &:active {
        background-color: var(--color-input-warning-bg-active);
        border-color: var(--color-input-warning-border-active);
      }
    }
  }
}
