.profile-settings {
  width: 50%;
  padding: 20px;
  background-color: var(--color-bg);
  border-radius: 10px;

  &__section {
    padding: 20px;
    background-color: var(--color-bg-layer-1);
    border-radius: 10px;
  }
}