.skeleton {
  display: flex;
  background: var(--color-skeleton-bg);
  background-size: 500% 100%;
  border-radius: 4px;
  animation: skeleton-loading 8s linear infinite;

  &--circle {
    border-radius: 50%;
  }

  &--row {
    & + & {
      margin-top: 6px;
    }
  }
}

@keyframes skeleton-loading {
  to {background-position-x: -500%;}
}