@use "sass:color";

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  height: var(--navbar-height);
  padding: 0 20px;

  background-color: var(--bg-inverted-color);
}

.navigation {
  margin-left: auto;

  &__item {
    & + & {
      margin-left: 15px;
    }
  }
}

.navigation-list {
  display: flex;
}
