.header {
  position: fixed;
  top: 0;
  inset-inline: 0;
  width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: var(--navbar-height);
  padding: 0 20px;

  background-color: var(--color-navbar-bg);
}