@use "@/app/styles/variables/easings" as easings;

:global {
  .sun-and-moon {
    & > :is(.moon, .sun, .sun-beams) {
      transform-origin: center center;
    }

    & > :is(.moon, .sun) {
      fill: var(--icon-fill);
    }

    & > .sun-beams {
      stroke: var(--icon-fill);
      stroke-width: 2px;
    }

    // Animation
    
    & > .sun {
      transition: transform 0.5s easings.$ease-elastic-3;
    }

    /* stylelint-disable-next-line */
    & > .sun-beams {
      transition: transform 0.5s easings.$ease-elastic-4, opacity 0.5s easings.$ease-3;
    }

    .moon > circle {
      transform: translateX(-7px);
      transition: transform 0.25s easings.$ease-out-5;

      @supports (cx: 1) {
        transform: translateX(0);
        cx: 24;
        cy: 10;
        transition: cx 0.25s easings.$ease-out-5, cy 0.25s easings.$ease-out-5;
      }
    }
  }
}

.theme-toggle {
  --size: 2rem;
  --icon-fill: hsl(0deg 0% 70%);
  --icon-fill-hover: hsl(0deg 0% 50%);

  aspect-ratio: 1;
  inline-size: var(--size);
  block-size: var(--size);

  border-radius: 50%;
  outline-offset: 5px;

  -webkit-tap-highlight-color: transparent;

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
  }

  // @media (hover: none) {
  //   --size: 48px;--size--size--size--size--size--size--size--size--size--size--size--size--size--size--size
  // }

  &:is(:hover, :focus-visible) {
    :global {
      .sun-and-moon {
        & > :is(.moon, .sun) {
          fill: var(--icon-fill-hover);
        }

        & > .sun-beams {
          stroke: var(--icon-fill-hover);
        }
      }
    }
  }
}

[data-theme="dark"] {
  .theme-toggle {
    --icon-fill: hsl(0deg 0% 85%);
    --icon-fill-hover: hsl(0deg 0% 80%);

    :global {
      .sun-and-moon {
        & > .sun {
          transform: scale(1.75);

          // animation
          transition-timing-function: easings.$ease-3;
          transition-duration: 0.25s;
        }
  
        & > .sun-beams {
          opacity: 0;
          
          // animation
          /* stylelint-disable-next-line */
          transform: rotateZ(-25deg);
          transition-duration: 0.15s;
        }
  
        & > .moon > circle {
          transform: translateX(-7px);
          
          // animation
          transition-delay: 0.25s;
          transition-duration: 0.5s;
  
          @supports (cx: 1) {
            transform: translateX(0);
            cx: 16;
            cy: 9;
          }
        }
      }
    }
  }
  
}
