* {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

html {
  text-size-adjust: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizespeed;

  -webkit-font-smoothing: antialiased;
}

:where(ul,ol):where([role='list']) {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: "";
  content: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}


p, h1, h2, h3, h4, h5, h6 {
  hyphens: auto;
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

//  Need to test, might be removed later
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

a:not([class]) {
  color: currentcolor;
  text-decoration-skip-ink: auto;
}

:target {
  scroll-margin-block: 1rlh;
}

/* stylelint-disable-next-line */
#root, #__next {
  isolation: isolate;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
  }
}