@use "sass:map";
@use "sass:math";

@font-face {
  font-family: 'Fixel Text';
  font-weight: 400;
  font-style: normal;
  src: url('@/shared/assets/fonts/FixelText-Regular.woff2') format("woff2");
}

@font-face {
  font-family: 'Fixel Text';
  font-weight: 400;
  font-style: italic;
  src: url('@/shared/assets/fonts/FixelText-RegularItalic.woff2') format("woff2");
}

@font-face {
  font-family: 'Fixel Text';
  font-weight: 500;
  font-style: normal;
  src: url('@/shared/assets/fonts/FixelText-Medium.woff2') format("woff2");
}

@font-face {
  font-family: 'Fixel Text';
  font-weight: 600;
  font-style: normal;
  src: url('@/shared/assets/fonts/FixelText-SemiBold.woff2') format("woff2");
}

@font-face {
  font-family: 'Fixel Text';
  font-weight: 700;
  font-style: normal;
  src: url('@/shared/assets/fonts/FixelText-Bold.woff2') format("woff2");
}

.ss05 {
  font-feature-settings: 'ss05' on;
}